In [1]:
import os 
os.getcwd()

'C:\\Users\\akash\\data_analysis project1'

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Customer_behavior.ipynb',
 'customer_shopping_behavior (1).csv',
 'Untitled.ipynb']

In [4]:
import pandas as pd
df = pd.read_csv("customer_shopping_behavior (1).csv")

In [5]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [7]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [8]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [10]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [11]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [30]:
df.columns

Index(['_c_u_s_t_o_m_e_r_______i_d_', '_a_g_e_', '_g_e_n_d_e_r_',
       '_i_t_e_m_______p_u_r_c_h_a_s_e_d_', '_c_a_t_e_g_o_r_y_',
       '_p_u_r_c_h_a_s_e_______a_m_o_u_n_t_______(_u_s_d_)_',
       '_l_o_c_a_t_i_o_n_', '_s_i_z_e_', '_c_o_l_o_r_', '_s_e_a_s_o_n_',
       '_r_e_v_i_e_w_______r_a_t_i_n_g_',
       '_s_u_b_s_c_r_i_p_t_i_o_n_______s_t_a_t_u_s_',
       '_s_h_i_p_p_i_n_g_______t_y_p_e_',
       '_d_i_s_c_o_u_n_t_______a_p_p_l_i_e_d_',
       '_p_r_o_m_o_______c_o_d_e_______u_s_e_d_',
       '_p_r_e_v_i_o_u_s_______p_u_r_c_h_a_s_e_s_',
       '_p_a_y_m_e_n_t_______m_e_t_h_o_d_',
       '_f_r_e_q_u_e_n_c_y_______o_f_______p_u_r_c_h_a_s_e_s_'],
      dtype='object')

In [31]:
df.columns=df.columns.str.replace('_','')

In [32]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamount(usd)', 'location', 'size', 'color', 'season',
       'reviewrating', 'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='object')

In [33]:
df=df.rename(columns={'purchaseamount(usd)':'purchaseamount'})

In [34]:
df.columns

Index(['customerid', 'age', 'gender', 'itempurchased', 'category',
       'purchaseamount', 'location', 'size', 'color', 'season', 'reviewrating',
       'subscriptionstatus', 'shippingtype', 'discountapplied',
       'promocodeused', 'previouspurchases', 'paymentmethod',
       'frequencyofpurchases'],
      dtype='object')

In [40]:
#create a columns age group
labels = ['young_adult','adult','middle-aged','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [41]:
df[['age','age_group']].head(10)

   age    age_group
0   55  middle-aged
1   19  young_adult
2   50  middle-aged
3   21  young_adult
4   45  middle-aged
5   46  middle-aged
6   63       senior
7   27  young_adult
8   26  young_adult
9   57  middle-aged

In [43]:
#create columns purchase frequency days
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days'] = df['frequencyofpurchases'].map(frequency_mapping)

In [44]:
df[['purchase_frequency_days','frequencyofpurchases']].head(10)

   purchase_frequency_days frequencyofpurchases
0                       14          Fortnightly
1                       14          Fortnightly
2                        7               Weekly
3                        7               Weekly
4                      365             Annually
5                        7               Weekly
6                       90            Quarterly
7                        7               Weekly
8                      365             Annually
9                       90            Quarterly

In [45]:
df[['discountapplied','promocodeused']].head(10)

  discountapplied promocodeused
0             Yes           Yes
1             Yes           Yes
2             Yes           Yes
3             Yes           Yes
4             Yes           Yes
5             Yes           Yes
6             Yes           Yes
7             Yes           Yes
8             Yes           Yes
9             Yes           Yes

In [46]:
(df['discountapplied'] == df['promocodeused']).all()

np.True_

In [47]:
df = df.drop('promocodeused',axis=1)

In [48]:
df.columns

Index([             'customerid',                     'age',
                        'gender',           'itempurchased',
                      'category',          'purchaseamount',
                      'location',                    'size',
                         'color',                  'season',
                  'reviewrating',      'subscriptionstatus',
                  'shippingtype',         'discountapplied',
             'previouspurchases',           'paymentmethod',
          'frequencyofpurchases',      ('age', 'age_group'),
                     'age_group', 'purchase_frequency_days'],
      dtype='object')

In [54]:
whos

Variable            Type         Data/Info
------------------------------------------
create_engine       function     <function create_engine at 0x0000023DBC3B9580>
df                  DataFrame          customerid  age  ge<...>n[3900 rows x 20 columns]
engine              Engine       Engine(mssql+pyodbc://Anu<...>r&trusted_connection=yes)
frequency_mapping   dict         n=7
labels              list         n=4
lables              list         n=4
os                  module       <module 'os' from 'C:\\Us<...>usha_Angala\\Lib\\os.py'>
pd                  module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
pyodbc              module       <module 'pyodbc' from 'C:<...>dbc.cp313-win_amd64.pyd'>

In [55]:
df.head()

,customerid,age,gender,itempurchased,category,purchaseamount,location,size,color,season,reviewrating,subscriptionstatus,shippingtype,discountapplied,previouspurchases,paymentmethod,frequencyofpurchases,"(age, age_group)",age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle-aged,middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young_adult,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle-aged,middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young_adult,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle-aged,middle-aged,365

In [56]:
from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://Anusha\\SQLEXPRESS/CUSTOMER_BEHAVIOR"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

df.to_sql(
    name="customer_data",   # table name in SQL Server
    con=engine,
    schema="dbo",
    if_exists="replace",
    index=False
)

52

In [49]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\akash\anusha_angala\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akash\anusha_angala\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akash\anusha_angala\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --------------- ------------------------ 1.0/2.7 MB 5.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 3.9 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 3.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [50]:
!pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\akash\anusha_angala\lib\site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in c:\users\akash\anusha_angala\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akash\anusha_angala\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akash\anusha_angala\lib\site-packages (from sqlalchemy) (4.12.2)

In [51]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [38]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(
    "mssql+pyodbc://Anusha\\SQLEXPRESS/CUSTOMER_BEHAVIOR"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)
pd.read_sql("SELECT * FROM customer_behavior",engine)

,customerid,age,gender,itempurchased,category,purchaseamount,location,size,color,season,reviewrating,subscriptionstatus,shippingtype,discountapplied,previouspurchases,paymentmethod,frequencyofpurchases,"('age', 'age_group')",age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle-aged,middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young_adult,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle-aged,middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young_adult,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle-aged,middle-aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,adult,adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,middle-aged,middle-aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,middle-aged,middle-aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,adult,adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,middle-aged,middle-aged,90

In [37]:
len(df)

3900